[mysqld]
# http://www.slideshare.net/kazeburo/mysql-casual7isucon
# https://go.oracle.com/LP=91305?elqCampaignId=240982
innodb_buffer_pool_size = 1GB # 80% of all memory and <= 1GB(if innodb_buffer_pool_instances = 1)
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# max_connections, table_definition_cache, and table_open_cache determines the default value for several Performance Schema options
# – Small instance:
# • max_connections <= 151 && table_definition_cache <= 400 && table_open_cache <= 2000
# – Medium instance:
# • max_connections <= 302 && table_definition_cache <= 800 && table_open_cache <= 4000
max_connections = 3000

innodb_lock_wait_timeout=1 # ロック待ちがあり、早めに解消したい場合